body {
  background-color: floralwhite;
}
.bg-floral {
  background-color: #e4e2e2;
}
ul {
  list-style: none;
}

.paginate {
  list-style-type: none;
  display: inline-flex;
  padding: 5px 20px;
}

.paginate > li {
  padding: 0px 3px;
}

.paginate .active{
  color: tomato;
  font-weight: 600;
}